.menu-container {
  position: relative;
}
._5489{
  text-decoration: none;
  font-size: 20px;
  color: inherit;
}
.menu{
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 100px;
  right: 20px;
  width: 80px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  .menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  }
  .list{
  list-style: none;
  padding: 0 ;
  margin:0;
  }
  .listli{
  border-bottom: 1px solid #dddddd;    
  }
  .link{
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  } 
  .imgmenu{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 0px;
    margin-left: 60%;
  }
  .dropbtn {
    margin-top: 1%;
    position: absolute;
    right: 0;
    background: inherit;
    background-image: -webkit-linear-gradient(top, inherit,inherit);
    background-image: -moz-linear-gradient(top, inherit,inherit);
    background-image: -ms-linear-gradient(top, inherit,inherit);
    background-image: -o-linear-gradient(top, inherit,inherit);
    background-image: linear-gradient(to bottom, inherit,inherit);
    -webkit-border-radius: 0;
    -moz-border-radius: 37;
    border-radius: 50%;
    -webkit-box-shadow: 2px 3px 0px inherit;
    -moz-box-shadow: 2px 3px 0px inherit;
    box-shadow: 2px 3px 0px inherit;
    font-family: Arial;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    border-color: inherit;
    border: none;
  }
  
  /* .btn:hover {
    background: none;
    background-image: -webkit-linear-gradient(top, none,none);
    background-image: -moz-linear-gradient(top, none,none);
    background-image: -ms-linear-gradient(top, none,none);
    background-image: -o-linear-gradient(top, none,none);
    background-image: linear-gradient(to bottom, none,none);
    text-decoration: none;
  } */